---
import i18next from "i18next";

type LinkButtonProps = {
  label: string;
  to: string;
};

const { label, to } = Astro.props as LinkButtonProps;

const toUrl =
  i18next.language === "es" ? `/${to}` : `/${i18next.language}/${to}`;
---

<div class="h-drop-shadow">
  <a href={toUrl} class="custom-button">{label}</a>
</div>

<style>
  @import "../../../styles/media-queries.css";

  .custom-button {
    display: block;
    font-family: "bioticbold";
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--space-medium) var(--space-medium);
    color: var(--color-main);
    width: fit-content;
    text-align: center;
    border: 1px solid var(--color-main);
    font-size: 16px;
    @media (--vp-media-yablet) {
      font-size: 18px;
    }
    @media (--vp-media-desktop) {
      font-size: 21px;
    }
  }
</style>
