---
import i18next from "i18next";

type TextLinkPros = {
  label: string;
  to: string;
};

const { label, to } = Astro.props as TextLinkPros;

const toUrl =
  i18next.language === "es" ? `/${to}` : `/${i18next.language}/${to}`;
---

<a class="text-link" href={toUrl} target="_self">
  {label}
</a>

<style>
  .text-link {
    color: var(--color-main);
    font-family: "bioticbold";
  }
</style>
