---
import i18next from "i18next";
import KokuaLabsLogo from "../shared/KokuaLabsLogo.astro";
import { navigationItems } from "../../config/navigation";
import LanguageSelector from "../../components/shared/LanguageSelector.astro";

const lang = i18next.language;
const homePath = i18next.resolvedLanguage === "es" ? "/" : `/${i18next.resolvedLanguage}`;
const currentPagePath = Astro.url.pathname;
---

<header class="h-content-wrapper nav-bar-container neu-up">
  <nav class="nav-bar-container__nav">
    <a href={homePath}>
      <KokuaLabsLogo width="120px" />
    </a>

    <ul class="nav-bar-container__nav-items">
      {
        navigationItems[lang].map(({ label, to }) => (
          <li class="nav-bar-container__nav-item" class:list={{ "neu-down": currentPagePath === to }}>
            <a class="nav-bar-container__nav-link" href={to}>
              {label}
            </a>
          </li>
        ))
      }
      <LanguageSelector />
    </ul>
    <!-- <LanguageSelector showFlag={true} languageMapping={{ en: "Anglais" }} class="my-select-class" /> -->
  </nav>

  <style>
    .nav-bar-container {
      position: sticky;
      top: var(--space-medium);
      margin-top: var(--space-medium) !important;
      padding: var(--space-small) var(--space-large);
      &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__nav-items {
        display: flex;
        align-items: center;
        gap: var(--space-small);
      }
      &__nav-item {
        font-family: "bioticbold";
        padding: var(--space-small) var(--space-small-2);
        color: var(--color-main);
      }

      &__nav-link {
        color: var(--color-main);
      }
      &--visible {
        position: relative;
      }
    }
  </style>

  <script>
    let lastScrollTop: number = 0;
    const navbar = document.querySelector(".nav-bar-container") as HTMLElement;

    if (navbar) {
      window.onscroll = () => {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop) {
          navbar.classList.add("nav-bar-container--visible");
        } else {
          navbar.classList.remove("nav-bar-container--visible");
        }
        lastScrollTop = scrollTop;
      };
    }
  </script>
</header>
