---
import UserLaptopImage from "../../assets/png/user-laptop.png";
import SpaceshipImage from "../../assets/png/spaceship.png";
import SwitchImage from "../../assets/png/switch.png";
import NotepadImage from "../../assets/png/notepad.png";
import WindowImage from "../../assets/png/window.png";
import HandImage from "../../assets/png/hand.png";
import LinkButton from "../shared/LinkButton.astro";
---

<section class="h-box-shadow home-hero-container">
  <article class="home-hero-container__content">
    <h1 class="home-hero-container__title animate__animated animate__fadeIn">
      Si tienes una idea, necesitas <span class="home-hero-container__company-name">kokua</span>
    </h1>
    <p class="home-hero-container__description">Tu partner y asesor para la tranformación digital de tu negocio</p>
    <div class="h-drop-shadow">
      <LinkButton to="/contact" label="Hablemos 😉" />
    </div>
    <figure class="home-hero-container__user-image">
      <img loading="lazy" alt="user with 3d laptop image" src={UserLaptopImage} />
    </figure>
    <figure class="home-hero-container__spaceship-image animate__animated animate__fadeInBottomLeft h-drop-shadow">
      <img loading="lazy" alt="spaceship 3d image" src={SpaceshipImage} />
    </figure>
    <figure class="home-hero-container__switch-image h-drop-shadow animate__animated animate__bounce">
      <img loading="lazy" alt="switch 3d image" src={SwitchImage} />
    </figure>
    <figure class="home-hero-container__notepad-image h-drop-shadow">
      <img loading="lazy" alt="notepad 3d image" src={NotepadImage} />
    </figure>
    <figure class="home-hero-container__window-image h-drop-shadow">
      <img loading="lazy" alt="window 3d image" src={WindowImage} />
    </figure>
    <figure class="home-hero-container__hand-image animate__animated animate__fadeInRight">
      <img loading="lazy" alt="hand 3d image" src={HandImage} />
    </figure>
  </article>
</section>

<style>
  @import "../../../styles/media-queries.css";
  .home-hero-container {
    position: relative;
    display: flex;
    padding: var(--space-xl-large) var(--space-medium-2) 0;
    height: 456px;
    margin-top: var(--space-medium) !important;
    border-radius: var(--border-radius);
    background: linear-gradient(-45deg, #2400ff, #0062ff, #00f0ff, #38a3a5, #0096c7, #00b4d8, #004cff);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: var(--color-white);
    @media (--vp-media-tablet) {
      height: 384px;
      padding: 0 var(--space-large-3);
      align-items: center;
    }
    @media (--vp-media-desktop) {
      padding: 0 var(--space-xl-large);
      align-items: center;
      height: 549px;
    }

    &__content {
      z-index: 1;
      width: 280px;
      @media (--vp-media-tablet) {
        width: 480px;
      }
      @media (--vp-media-desktop) {
        width: 650px;
      }
    }
    &__title {
      margin-bottom: var(--space-medium-2);
      font-family: "bioticbold";
      font-size: 36px;
      z-index: 1;
      position: relative;
      @media (--vp-media-tablet) {
        font-size: 42px;
      }
      @media (--vp-media-desktop) {
        font-size: 84px;
      }
    }
    &__company-name {
      font-family: "rykerbold";
      font-size: 36px;
      @media (--vp-media-tablet) {
        font-size: 42px;
      }
      @media (--vp-media-desktop) {
        font-size: 84px;
      }
    }
    &__description {
      font-family: "bioticregular";
      margin-bottom: var(--space-medium-2);
      line-height: 1.3;
      width: 80%;
      font-size: 16px;
      @media (--vp-media-tablet) {
        width: 70%;
        font-size: 18px;
      }
      @media (--vp-media-desktop) {
        width: 60%;
        font-size: 21px;
      }
    }
    &__user-image {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 55%;
      @media (--vp-media-tablet) {
        width: 30%;
        right: 20px;
      }
      @media (--vp-media-desktop) {
        width: auto;
      }
    }
    &__spaceship-image {
      display: block;
      position: absolute;
      top: -25px;
      left: -75px;
      width: 40%;
      @media (--vp-media-tablet) {
        width: 25%;
        left: -75px;
      }
      @media (--vp-media-desktop) {
        width: 250px;
        top: -70px;
        left: 588px;
      }
    }
    &__switch-image {
      display: block;
      position: absolute;
      top: 140px;
      right: 0;
      @media (--vp-media-tablet) {
        top: 40px;
        right: 240px;
      }
      @media (--vp-media-desktop) {
        top: 44px;
        right: 354px;
      }
    }
    &__notepad-image {
      display: block;
      position: absolute;
      top: 368px;
      right: 260px;
      width: 20%;
      @media (--vp-media-tablet) {
        width: 10%;
        top: 198px;
      }
      @media (--vp-media-desktop) {
        top: 228px;
        right: 356px;
        width: auto;
      }
    }
    &__window-image {
      display: none;
      transform: scale(0.9);
      position: absolute;
      bottom: 60px;
      right: 580px;
      @media (--vp-media-tablet) {
      }
      @media (--vp-media-desktop) {
        display: block;
      }
    }
    &__hand-image {
      display: block;
      width: 25%;
      position: absolute;
      right: 0;
      top: 50px;
      @media (--vp-media-tablet) {
        top: 0px;
      }
      @media (--vp-media-desktop) {
        width: auto;
        top: 0;
      }
    }
  }
</style>
