---
import image1 from "../../assets/png/user-profile.png";
import image2 from "../../assets/png/hand-writing.png";
import image3 from "../../assets/png/phone-hands.png";
import image4 from "../../assets/png/notes.png";
import image5 from "../../assets/png/planet.png";
import LinkButton from "../shared/LinkButton.astro";
import Title from "../shared/Title.astro";

type KPIsProps = {
  title: string;
  subtitle: string;
  ctaLabel: string;
  kpis: Kpi[];
};

type Kpi = {
  title: string;
  description: string;
  image: string;
};

const { title, subtitle, kpis, ctaLabel } = Astro.props as KPIsProps;

const images: string[] = [image1, image2, image3, image4, image5];

const parsedKpis = kpis.map((kpi, i) => {
  return {
    ...kpi,
    image: images[i],
  };
});
---

<section class="kpis-container">
  <Title title={title} subtitle={subtitle} />

  <div class="kpis-container__kpis">
    {
      parsedKpis.map((kpi) => (
        <article class="kpis-container__kpi">
          <figure>
            <img
              loading="lazy"
              width="100%"
              height="100%"
              src={kpi.image}
              alt={`${kpi.title}-kpi-image-kokua`}
            />
          </figure>
          <h3 class="h-ryker-font">{kpi.title}</h3>
          <p>{kpi.description}</p>
        </article>
      ))
    }
  </div>
  <div>
    <LinkButton to="services" label={ctaLabel} />
  </div>
</section>

<style>
  @import "../../../styles/media-queries.css";

  .kpis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 86px;

    @media (--vp-media-desktop) {
      margin-top: 156px;
    }

    &__kpis {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: var(--space-large);
      margin: var(--space-large-3) 0;
    }
    &__kpi {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-small-2);
      text-align: center;
      font-size: 16px;
      flex: 1 1 100%;
      @media (--vp-media-tablet) {
        flex: 1 1 45%;
        font-size: 18px;
      }
      @media (--vp-media-desktop) {
        flex: 0 0 30%;
        font-size: 21px;
        padding: 0 var(--space-large);
      }
    }
  }
</style>
