---
type BannerProps = {
  title: string;
  subtitle: string;
  kpi1: Kpi;
  kpi2: Kpi;
  kpi3: Kpi;
  kpi4: Kpi;
  kpi5: Kpi;
};

import HandWritingImage from "../../assets/png/hand-writing.png";
import UserProfileImage from "../../assets/png/user-profile.png";
import HandsImage from "../../assets/png/phone-hands.png";
import PlanetImage from "../../assets/png/planet.png";
import NotesImage from "../../assets/png/notes.png";
import LinkButton from "../shared/LinkButton.astro";
import Title from "../shared/Title.astro";

type Kpi = {
  title: string;
  description: string;
  image?: string;
};

const { title, subtitle, kpi1, kpi2, kpi3, kpi4, kpi5 } = Astro.props as BannerProps;
kpi1.image = UserProfileImage;
kpi2.image = HandWritingImage;
kpi3.image = HandsImage;
kpi4.image = NotesImage;
kpi5.image = PlanetImage;

const kpis = [kpi1, kpi2, kpi3, kpi4, kpi5];
---

<section class="banner-container h-content-wrapper">
  {title && <Title title={title} subtitle={subtitle} />}

  <article class="banner-container__kpis">
    {
      kpis.map((kpi) => (
        <div class="banner-container__kpi">
          <figure>
            <img src={kpi.image} alt="" />
          </figure>
          <h3 class="h-ryker-font">{kpi.title}</h3>
          <p>{kpi.description}</p>
        </div>
      ))
    }
  </article>
  <article class="banner-container__cta">
    <LinkButton to="/services" label="Conoce lo que hacemos" />
  </article>
</section>

<style>
  @import "../../../styles/media-queries.css";

  .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 86px !important;
    @media (--vp-media-desktop) {
      margin-top: 156px !important;
    }
    &__kpis {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: var(--space-large);
      margin-bottom: var(--space-xl-large) !important;
    }
    &__kpi {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-small-2);
      text-align: center;
      padding: 0;
      font-size: 16px;
      flex: 1 1 100%;
      @media (--vp-media-tablet) {
        flex: 1 1 45%;
        font-size: 18px;
      }
      @media (--vp-media-desktop) {
        flex: 1 1 30%;
        font-size: 21px;
        padding: 0 var(--space-large);
      }
    }
  }
</style>
